# Project exclude paths
/.gradle/
/Topics/Arithmetic operations/Calculating square, cube and fourth power of a number/out/
/Topics/Arithmetic operations/Calculating square, cube and fourth power of a number/out/production/classes/
/Topics/Arithmetic operations/Sum, multiplication, and division of two integers/out/
/Topics/Arithmetic operations/Sum, multiplication, and division of two integers/out/production/classes/
/Topics/Calling methods/Call me awesome/out/
/Topics/Calling methods/Call me awesome/out/production/classes/
/Topics/Integer types and operations/How many nuts each squirrel will get/out/
/Topics/Integer types and operations/How many nuts each squirrel will get/out/production/classes/
/Topics/Primitive and reference types/Creating a primitive/out/
/Topics/Primitive and reference types/Creating a primitive/out/production/classes/
/Topics/Primitive and reference types/Creating a reference type/out/
/Topics/Primitive and reference types/Creating a reference type/out/production/classes/
/Topics/Text blocks/Mad SQL query/out/
/Topics/Text blocks/Mad SQL query/out/production/classes/
/Topics/Type casting/Rounding down a halved float value to an integer/out/
/Topics/Type casting/Rounding down a halved float value to an integer/out/production/classes/
/Topics/While and do-while loops/The largest element of a sequence/out/
/Topics/While and do-while loops/The largest element of a sequence/out/production/classes/
/Topics/While and do-while loops/The sequence/out/
/Topics/While and do-while loops/The sequence/out/production/classes/
/Zookeeper with Java/task/build/
/Zookeeper with Java/task/out/
/Zookeeper with Java/task/out/production/classes/